{% extends "prjmgr/base_generic.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>BL: </h1>
        {% if perms.prjmgr.change_billoflading %}
            <a href="{% url 'bl_update' object.id %}">Update</a>
            <a href="{% url 'bl_delete' object.id %}"> - Delete</a>
        {% endif %}
        <br/>
        <div style="margin-left: 20px;margin-top: 20px">
            <p><strong>Type:</strong>  </p>
            <p><strong>Amount in metric ton:</strong> </p>
        </div>
    {% endif %}
{% endblock %}