{% extends "prjmgr/base_generic.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Contract List</h1><br>For more details click on Contract Id number.
        <div style="margin-left: 20px;margin-top: 20px">
            {% if table %}
                <ul>
                    {% load django_tables2 %}
                    {% render_table table %}
                </ul>
            {% else %}
                <p>There are no Contract.</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}