{% extends "prjmgr/base_generic.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Operation: {{ operation.id }}</h1>
        {% if perms.prjmgr.change_operation %}
            <a href="{% url 'operation_update' operation.id %}">Update</a>
            <a href="{% url 'operation_delete' operation.id %}"> - Delete</a>
        {% endif %}
        <br/>
        <div style="margin-left: 20px;margin-top: 20px">
            <p><strong>Type:</strong> {{ operation.get_operation_type_display }} </p>
            <p><strong>Amount in metric ton:</strong> {{ operation.amount_mt }}</p>
        </div>
    {% endif %}
{% endblock %}