{% extends "prjmgr/base_generic.html" %}
{% block content %}
{#    {% if user.is_authenticated %}#}
{#        <h1>Operation List</h1>#}
{#        <div style="margin-left: 20px;margin-top: 20px">#}
{#            {% if object_list %}#}
{#                <ul>#}
{#                    {% for operation in object_list %}#}
{#                        <li>#}
{#                            {{ operation.get_operation_type_display }} -#}
{#                            <a href="{% url 'operation-detail' operation.id %}">{{ operation.date }}</a>#}
{#                            {{ operation.amount_mt }} MT#}
{#                            {% if perms.prjmgr.delete_operation %}#}
{#                                - <a href="{% url 'operation_delete' operation.id %}">Delete</a>#}
{#                            {% endif %}#}
{#                        </li>#}
{#                        <li>{{ ops }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            {% else %}#}
{#                <p>There are no Transactions.</p>#}
{#            {% endif %}#}
{#        </div>#}
{#    {% endif %}#}
    {% load django_tables2 %}
    {% render_table table %}
{% endblock %}